@font-face {
  font-family: "iconfont"; /* Project id 3347816 */
  src: url('iconfont.woff2?t=1660789675340') format('woff2'),
       url('iconfont.woff?t=1660789675340') format('woff'),
       url('iconfont.ttf?t=1660789675340') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fuzhi:before {
  content: "\e640";
}

.icon-a-help-circle-filled2:before {
  content: "\e63e";
}

.icon-tianjiabiao:before {
  content: "\e63f";
}

.icon-shujuquanxian:before {
  content: "\e63d";
}

.icon-quanping:before {
  content: "\e63c";
}

.icon-a-bianzu2:before {
  content: "\e63b";
}

.icon-a-icon_quanping2:before {
  content: "\e639";
}

.icon-a-icon_shouqi3:before {
  content: "\e63a";
}

.icon-xiazai:before {
  content: "\e638";
}

.icon-shangchuan1:before {
  content: "\e637";
}

.icon-bangzhu:before {
  content: "\e635";
}

.icon-ads:before {
  content: "\e634";
}

.icon-gongsijiweidu:before {
  content: "\e633";
}

.icon-find:before {
  content: "\e631";
}

.icon-flow-xiaxian:before {
  content: "\e632";
}

.icon-flow-manage:before {
  content: "\e60f";
}

.icon-zhankai:before {
  content: "\e630";
}

.icon-shouqi:before {
  content: "\e62f";
}

.icon-treeGraph:before {
  content: "\e60e";
}

.icon-icon_shangxian:before {
  content: "\e643";
}

.icon-icon_shijidaxiao_hover:before {
  content: "\e644";
}

.icon-icon_back:before {
  content: "\e648";
}

.icon-icon_play:before {
  content: "\e655";
}

.icon-icon_clear:before {
  content: "\e65c";
}

.icon-icon_edit:before {
  content: "\e662";
}

.icon-icon_drag:before {
  content: "\e664";
}

.icon-icon_kafka:before {
  content: "\e642";
}

.icon-icon_yilai:before {
  content: "\e645";
}

.icon-icon_shell:before {
  content: "\e646";
}

.icon-icon_sql:before {
  content: "\e647";
}

.icon-icon_mysql:before {
  content: "\e649";
}

.icon-icon_rollback:before {
  content: "\e64a";
}

.icon-icon_huifu:before {
  content: "\e650";
}

.icon-icon_lengthways:before {
  content: "\e651";
}

.icon-icon_crossview:before {
  content: "\e652";
}

.icon-icon_enlarge:before {
  content: "\e653";
}

.icon-icon_shrink:before {
  content: "\e654";
}

.icon-icon_shiyingpingmu:before {
  content: "\e656";
}

.icon-icon_baocun:before {
  content: "\e657";
}

.icon-icon_zhushi:before {
  content: "\e658";
}

.icon-shujuditu:before {
  content: "\e65a";
}

.icon-shuju:before {
  content: "\e65b";
}

.icon-file-add:before {
  content: "\e65d";
}

.icon-biao:before {
  content: "\e65e";
}

.icon-icon_pass:before {
  content: "\e64d";
}

.icon-Left-small:before {
  content: "\e62e";
}

.icon-zhibiao:before {
  content: "\e62d";
}

.icon-shujubiao:before {
  content: "\e62c";
}

.icon-yewuguocheng:before {
  content: "\e62b";
}

.icon-shujicengDWT:before {
  content: "\e62a";
}

.icon-weiducengDIM:before {
  content: "\e629";
}

.icon-fuwucengDWS:before {
  content: "\e628";
}

.icon-mingxicengDWD:before {
  content: "\e627";
}

.icon-yuanshicengODS:before {
  content: "\e626";
}

.icon-biaozongshu:before {
  content: "\e625";
}

.icon-indic:before {
  content: "\e623";
}

.icon-dashboard:before {
  content: "\e621";
}

.icon-tiaozhuan:before {
  content: "\e620";
}

.icon-meridians:before {
  content: "\e61f";
}

.icon-operate:before {
  content: "\e61d";
}

.icon-large-amount:before {
  content: "\e61c";
}

.icon-money:before {
  content: "\e61b";
}

.icon-finance:before {
  content: "\e61a";
}

.icon-risk:before {
  content: "\e619";
}

.icon-increase:before {
  content: "\e618";
}

.icon-product:before {
  content: "\e617";
}

.icon-yellowstar:before {
  content: "\e60d";
}

.icon-star:before {
  content: "\e609";
}

.icon-indicator:before {
  content: "\e60a";
}

.icon-xiaxian:before {
  content: "\e60b";
}

.icon-business:before {
  content: "\e60c";
}

.icon-fabu:before {
  content: "\e601";
}

.icon-table:before {
  content: "\e602";
}

.icon-bianji:before {
  content: "\e603";
}

.icon-chakan:before {
  content: "\e604";
}

.icon-basicinfo:before {
  content: "\e605";
}

.icon-shanchu:before {
  content: "\e606";
}

.icon-manage:before {
  content: "\e607";
}

.icon-label:before {
  content: "\e608";
}

